[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"

[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
numpy = "*"
Django = "*"
setuptools = "*"
wheel = "*"
pytz = "*"
django-adminlte2 = "*"
mysqlclient = "*"
django-crispy-forms = "*"
django-cruds-adminlte = "*"
django-widget-tweaks = "*"
django-datatable = "*"
django-star-ratings = "*"
table = "*"

