{% extends 'adminlte/login.html' %}
{% load i18n static %}
{% load static %}
{% load widget_tweaks %}

{% block title %}SVA - Login{% endblock %}
{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="col-md-6 col-lg-push-6">
        <div class="login-box">
            {% block logo %}
            <div class="login-logo">
                {# Mirrors block names used in _main_header.html #}
                <a href="{% block logo_href %}/home{% endblock %}">{% block logo_text %}<b>SVA</b> CEFET-MG{% endblock %}</a>
            </div>
            {% endblock %}
            <!-- /.login-logo -->
            <div class="login-box-body">

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Seu perfil não tem acesso a essa página. Para continuar,
                        por favor, logue com uma conta que tenha esse acesso.</p>
                    {% else %}
                    <p>Por favor, faça login para acessar a página.</p>
                    {% endif %}
                {% endif %}


                {% block select_login_or_register_form %}
                {% endblock %}

                {% block  %}

                {% block profile_select_form %}
                {% endblock %}

                {% block login_errors %}
                    {% if form.errors and not form.non_field_errors %}
                        <p class="alert alert-danger">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                                {% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endblock login_errors %}

                {% block login_form %}

                    <form action="{% url 'login' %}?next={{request.path}}" method="post">
                        {% csrf_token %}
                        {% if message %}
                            <p class="login-box-msg" style="color: red;">{{ message }}</p>
                        {% endif %}


                        {% csrf_token %}

                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}


                        <div class="form-group has-feedback">
                            {{ form.username|add_class:'form-control' }}
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            {% if form.username.errors %}
                                <ol>
                                {% for error in form.username.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </div>


                        <div class="form-group has-feedback">
                            {{ form.password|add_class:'form-control' }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% if form.password.errors %}
                                <ol>
                                {% for error in form.password.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </div>



                        <div class="row">
                            <div class="col-xs-8">
                                {% block login_form_links %}
                                    <a href="{% url 'password_change' %}">Esqueci minha Senha</a>
                                    <br />
                                    <a href="{% url 'cadastro' %}" class="text-center">Registrar</a>
                                {% endblock %}
                            </div>
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                            </div>
                        </div>
                    </form>
                {% endblock login_form %}
            </div>
        </div>
    </div>

    <div class="col-md-6 col-md-pull-6 visible-lg">
        <div class="login-box vertical">
            <div class="login-logo">
                <a href="#"><b>SVA</b> CEFET-MG</a>
            </div>
        </div>
    </div>

{% endblock %}

