{% extends 'registration/login.html' %}

{% block title %}Recuperar Senha{% endblock %}


{% block profile_select_form %}
{% endblock %}

{% block select_login_or_register_form %}
{% endblock %}

{% block login_form %}

        <h3 class="center-block">Recuperar Senha</h3>

        <form method="post" action="" name="Formlogin">
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
            </div>



            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <button type="submit" class="btn btn-primary btn-flat">Recuperar Senha</button>
                <a href="{% url 'login' %}" class="btn btn-default btn-flat pull-right">Voltar</a>
            </div>
        </form>

{% endblock %}