{% extends 'sva/base.html' %}

{% block content %}
{% load static %}
{% load svatags %}
<div class="container-fluid">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class = "text-center">
                    <h2 class="box-title">Editar {{ form.nome.value }}</h2>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-5">
                    <div class = "text-center">
                        <h4>Dados para contato</h4>
                    </div>
                    <div class="form-group">
                        <label for="id_nome">Nome <font size="2" color="red">*</font></label>
                        <input type="text" class="form-control" id="id_nome" name="nome" maxlength="60" placeholder="Nome da empresa" required="true" value="{{form.nome.value}}">
                    </div>
                    <div class="form-group">
                        <label for="id_Site">Site </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="id_Site" name="Site" maxlength="200" placeholder="Site da empresa" value="{{form.Site.value|default_if_none:''}}">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="id_telefone">Telefone </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input type="text" class="form-control" id="id_telefone" name="telefone" maxlength="20" placeholder="Telefone de contato" value="{{form.telefone.value|default_if_none:''}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="id_Email">Email <font size="2" color="red">*</font></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" id="id_Email" name="Email" maxlength="100" placeholder="Email de contato" required="true" value="{{form.Email.value|default_if_none:''}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class = "text-center">
                        <h4>Localização</h4>
                    </div>
                    <div class="form-group">
                        <label for="id_Rua">Logradouro <font size="2" color="red">*</font></label>
                        <input type="text" class="form-control" id="id_Rua" name="Rua" maxlength="40" placeholder="Rua/Avenida" required="true" value="{{form.Rua.value|default_if_none:''}}">
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="id_Numero">Número <font size="2" color="red">*</font></label>
                                <input type="text" class="form-control" id="id_Numero" name="Numero" placeholder="Numero" maxlength="4" required="true" value="{{form.Numero.value|default_if_none:''}}">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="id_Complemento">Complemento </label>
                                <input type="text" class="form-control" id="id_Complemento" name="Complemento" maxlength="10" placeholder="Complemento ao endereço (se houver)" value="{{form.Complemento.value|default_if_none:''}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_Bairro">Bairro <font size="2" color="red">*</font></label>
                                <input type="text" class="form-control" id="id_Bairro" name="Bairro" maxlength="40" placeholder="Bairro" required="true" value="{{form.Bairro.value|default_if_none:''}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_Cidade">Cidade <font size="2" color="red">*</font></label>
                                <input type="text" class="form-control" id="id_Cidade" name="Cidade" maxlength="20" placeholder="Cidade" required="true" value="{{form.Cidade.value|default_if_none:''}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_Estado">Estado <font size="2" color="red">*</font></label>
                                <input type="text" class="form-control" id="id_Estado" name="Estado" maxlength="20" placeholder="Estado" required="true" value="{{form.Estado.value|default_if_none:''}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Editar cadastro</button>

                {% if empresa.user.pk == request.user.pk or request.user.is_superuser %}
                <div class="text-muted pull-right" >
                    <a class="pull-right btn btn-danger" href="javascript:func()" onclick="confirmacao()"> Desativar conta </a></div>
                <script language="Javascript">
                function confirmacao() {
                     var resposta = confirm("Deseja desativar essa conta?");

                     if (resposta == true) {
                          window.location.href = "{% url 'Excluir_Empresa' empresa.user.pk %}";
                     }
                }
                </script>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}