{% extends 'sva/base.html' %}
{% load svatags %}

{% block content %}
    <div class="form-group">
        <font size="5"><b>Perfil de {{ empresa.nome }}</b></font>
    </div>
    <br>
    <div class="form-group">
        <b>Site: </b>{{ empresa.website}}
    </div>
    <div class="form-group">
        <b>Email: </b>{{ empresa.user.email }}
    </div>
    <div class="form-group">
        <b>Telefone: </b>{{ empresa.telefone }}
    </div>
    <br>

    {# TODO: FAZER URL PARA APROVAR/REPROVAR CADASTRO DE EMPRESA #}
    {% if empresa.data_cadastro and request.user|has_groups:"Administrador,Setor de Estágios" %}
        <a href="{% url 'FAZER ESSA URL' %}" class="btn btn-primary"></a>
    {% endif %}

{% endblock content %}