{% extends "sva/base_externa.html" %}

{% block title %}Página não encontrada{% endblock %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i>Página não encontrada.</h3>
            <p>
                Não encontramos a página que você está procurando.
                Você pode ter acessado um recurso que não existe ou algo se comportou de maneira inesperada.<br><br>
                Você pode <a href="/">retornar à página inicial</a>.
            </p>
        </div>
    </div>
{% endblock %}
