{% extends 'adminlte/base.html' %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load ratings %}
{% block title %}SVA{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block mensagens %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
    Conteúdo aqui.
{% endblock %}

