{% extends 'sva/base.html' %}
{% load svatags %}

{% block content %}
<div class="box">

    <div class="box-header"><h3 class="box-title">
        {% block titulo_listagem %}
            {% if liberar_cadastro %}
                Empresas com Cadastro Pendente
            {% else %}
                Empresas Ativas no Sistema
            {% endif %}
        {% endblock %}
    </h3></div>
    <!-- /.box-header -->

    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
              <div class="col-sm-6"><br></div>
              <div class="col-sm-6"><br></div>
          </div>
          <div class="row">
            {% block filtros_tabela %}
            {% endblock %}
          </div>
          <div class="row">
              <div class="col-sm-6"><br></div>
              <div class="col-sm-6"><br></div>
          </div>
          <div class="row">
              <div class="col-sm-12">
              <table id="example2" class="table table-bordered table-hover dataTable"
                     role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    {% block cabecalho_tabela %}
                        <th>Rendering engine</th>
                        <th>Browser</th>
                    {% endblock %}
                </thead>
                <tbody>
                    {% block corpo_tabela %}
                        <tr role="row" class="odd">
                          <td class="sorting_1">Gecko</td>
                        </tr>

                        <tr role="row" class="even">
                          <td>A</td>
                        </tr>
                    {% endblock %}
                </tbody>
              </table>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                      {% block paginacao_label %}
                        Mostrando 1 to 10 of 57 entries
                      {% endblock %}
                  </div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                  <!-- TODO: Paginação aqui é errado. OU faz direito, ou não coloca nada. -->
                  <!--
                  <ul class="pagination">
                      <li class="paginate_button previous disabled" id="example2_previous">
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Anterior</a>
                      </li>
                      <li class="paginate_button active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a>
                      </li>
                      <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li>
                      <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li>
                      <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li>
                      <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li>
                      <li class="paginate_button next" id="example2_next">
                          <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Próximo</a>
                      </li>
                  </ul>
                  -->
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}