{% extends 'sva/base.html' %}

{% block title %} Gerenciamento de Vagas {% endblock %}

{% block content %}
        <div class="content container">
            <div class="row">
                <div class="col-sm-8">
                    <a href="{% url 'vaga_criar' %}" class="top-menu">Criar vaga</span></a>
                    <a href="{% url 'vaga_gerenciar' %}" class="top-menu">Gerenciar vagas</span></a>
                </div>
                <div class="col-sm-8">
                    <div class="container">
                    {% block content %}
                    <p>Aqui voce pode gerenciar suas vagas!</p>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}