{% extends 'sva/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">


<div class="container"> <br />
    <div class="row">
                <div class="col-md-9 col-md-offset-1">

            <form class="form-inline" action="" method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload curriculo</strong> <small> </small></div>
                    <div class="panel-body text-center">
                                <div class="input-group">
                                    <input size="100" type="text" id="fake-file-input-name" disabled="disabled" placeholder="Arquivo selecionado" class="form-control"> <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">

                                            <button id="fake-file-button-browse" type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-file"></span>
                                            </button>
                                            {% csrf_token %}
                                            {{ form.curriculo }}
                                          <button type="submit" onclick="return validate(this)" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                                    </span>
                                </div>
                        <!-- /input-group image-preview [TO HERE]-->
                        <br />
                        <!-- Drop Zone -->
                        <!-- Progress Bar -->
                        <br />
                    </div>
                </div>
            </form>
		</div>
	</div>
        <div class="row">
         {%if curriculo != None%}
            <div class="col-md-9 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Gerenciar curriculo</strong> <small> </small></div>
                <div class="panel-body">
                    <div class="text-center">
                        <p>Ultimo upload no dia {{data}}</p>
                    <button href="javascript:func()"  onclick="show()"type="button" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="fa fa-file-pdf-o"></i> </span>Visualizar curriculo</button>
                    <button href="javascript:func()"  onclick="confirmacao2()"type="button" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-download"></i> </span>Download curriculo</button>
                    <button href="javascript:func()" onclick="confirmacao1()"type="button" class="btn btn-labeled btn-danger"> <span class="btn-label"><i class="fa  fa-trash-o"></i> </span>Excluir curriculo</button>
                    <br /></div>
                </div>
                </div>
            </div>
         {%endif%}
    </div>

</div>

<script language="JavaScript">
    function confirmacao1() {
                     var resposta = confirm("Deseja excluir o curriculo?");

                     if (resposta == true) {
                          window.location.href = "{{ 'excluir/' }}{{ request.user.pk }}";
                     }
    }
    function confirmacao2() {
                          window.location.href = "{% url 'download_curriculo' pk=request.user.id%}";
    }
    function show() {
                          window.open("{{visualizar.url}}", '_blank')
    }
    function validate(){
        var size=3000000;
        var file_size=document.getElementById('files-input-upload').files[0].size;
        if(file_size>=size){
            alert('Arquivo muito grande, tamanho maximo é 3MB');
            return false;
        }
    }

    document.getElementById('fake-file-button-browse').addEventListener('click', function() {
	document.getElementById('files-input-upload').click();
});

document.getElementById('files-input-upload').addEventListener('change', function() {
	document.getElementById('fake-file-input-name').value = this.value;

	document.getElementById('fake-file-button-upload').removeAttribute('disabled');
});

</script>
{% endblock content %}