{% extends 'sva/base.html' %}

{% block content %}
<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    <label class=" col-form-label">Curso</label>
                    {{form.curso}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Matricula</label>
                    {{form.matricula}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Telefone</label>
                    {{form.telefone}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Habilidades</label>
                    {{form.habilidades}}
                </div>
                 <div class="form-group ">
                    <label class=" col-form-label">Nome Completo</label>
                    {{form.Nome_Completo}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Rua</label>
                    {{form.Rua}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Numero</label>
                    {{form.Numero}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Complemento</label>
                    {{form.Complemento}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Cidade</label>
                    {{form.Cidade}}
                </div>
                <div class="form-group ">
                    <label class=" col-form-label">Estado</label>
                    {{form.Estado}}
                </div>
                <button class="btn btn-primary  " type="submit">Editar</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a class="pull-right" href="javascript:func()" onclick="confirmacao()"> Desativar conta </a>
        <script language="Javascript">
        function confirmacao() {
             var resposta = confirm("Deseja desativar essa conta?");

             if (resposta == true) {
                  window.location.href = "{{ 'desativar/' }}{{ request.user.pk }}";
             }
        }
        </script>
    </div>
</div>
{% endblock content %}