{% extends 'sva/base.html' %}
{% block content %}
 <div class="container-fluid">
     <div class="box box-primary">
         <div class="box-body box-profile">
             <p><h3 class="profile-username text-center">Perfil de {{ aluno.user.first_name }} {{ aluno.user.last_name }}</h3></p>
             <hr>
             <p><span class="fa fa-graduation-cap"><b>Curso: </b>{{ aluno.curso.nome }} ({{ aluno.curso.sigla }})</span> </p>
             <p><span class="fa fa-envelope"> <b>Email: </b>{{ aluno.user.email }}</span> </p>
             <p><span class="fa fa-phone" >  <b>Telefone: </b>{{ aluno.telefone }}</span></p>
             <strong><i class="fa  fa-book margin-r-5"></i>Habilidades </strong>
             <p>
                {% for hab in aluno.habilidades.all %}
                    <span class="label label-success">[{{hab.nome}}]</span>&nbsp;
                {% endfor %}
             </p>
         </div>
     </div>
 </div>
{% endblock content %}