{% extends 'sva/base.html' %}
{% block content %}
    <div class="form-group">
        <font size="5"><b>Perfil de {{ aluno.user.first_name }} {{ aluno.user.last_name }}</b></font>
    </div>
    <br>
    <div class="form-group">
        <b>Curso: </b>{{ aluno.curso.nome }} ({{ aluno.curso.sigla }})
    </div>
    <div class="form-group">
        <b>Email: </b>{{ aluno.user.email }}
    </div>
    <div class="form-group">
        <b>Telefone: </b>{{ aluno.telefone }}
    </div>
    <br>
    <div class="form-group">
        <b>Habilidades: </b>
        <br>
        {% for hab in aluno.habilidades.all %}
            [{{hab.nome}}]
        {% endfor %}
    </div>

{% endblock content %}