{% extends 'sva/base.html' %}
{% load crispy_forms_tags %}
{% load svatags %}

{% block content %}
{% load static %}
    <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Editar</button>

            {% if professor.user.pk == request.user.pk or request.user.is_superuser %}
                <a class="pull-right btn btn-danger" href="javascript:func()" onclick="confirmacao()"> Desativar conta </a>
                <script language="Javascript">
                function confirmacao() {
                     var resposta = confirm("Deseja desativar essa conta?");

                     if (resposta == true) {
                          window.location.href = "{% url 'Excluir_Professor' professor.user.pk %}";
                     }
                }
                </script>

            {% endif %}
        </form>
</div>
{% endblock content %}