{% extends 'sva/base.html' %}
{% load svatags %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <p><h3 class="profile-username text-center">{{ professor.user.first_name }} {{ professor.user.last_name|default_if_none:"" }}</h3></p>
                <p class="text-muted text-center">SIAPE: {{ professor.siape }}</p>


                <strong><i class="fa fa-envelope"></i> Curso: </strong>
                <p>
                    {{ professor.curso }}
                </p>


                {# SEÇÃO DO ADMINISTRADOR -- APROVAÇÃO CASO EXISTA #}
                {% if request.user.is_superuser or request.user|has_groups:"Administrador,Setor de Estágios" %}
                    {% if not professor.data_aprovacao %}
                        <hr>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger" onClick="setar_valor_aprovado('false')" data-toggle="modal" data-target="#modal-default">
                                Indeferir o Cadastro
                            </button>
                            <button type="button" class="btn btn-primary"  onClick="setar_valor_aprovado('true')" data-toggle="modal" data-target="#modal-default">
                                Deferir Cadastro
                            </button>
                        </div>
                    {% endif %}

                    <div class="modal fade" id="modal-default" style="display: none; padding-right: 15px;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Confirmar Ação</h4>
                          </div>

                          <form method="post" action="{% url 'Aprovar_Professor' professor.user.pk %}">
                              {% csrf_token %}
                              <div class="modal-body">
                                {% block conteudo_modal %}
                                    {{ form_aprovacao|crispy }}
                                {% endblock %}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">{% block label_botao %} Confirmar {% endblock %}</button>
                              </div>
                          </form>

                        </div>
                      </div>
                    </div>
                    <script>
                       function setar_valor_aprovado(valor) {
                           document.getElementById("aprovado").value = valor;
                       }
                    </script>

                {% endif %}


                {% if professor.telefone is not None %}
                <hr>
                <h3 class="text-muted box-title text-left">Contato</h3>
                <strong><i class="fa fa-phone"></i> Telefone </strong>
                <p>
                    {{ professor.telefone }}
                </p>
                <strong><i class="fa fa-envelope"></i> Email </strong>
                <p>
                    {{ professor.user.email }}
                </p>
                {% endif %}



                {% if professor.user.pk != request.user.pk and professor.data_aprovacao %}
                    <hr>
                    <h3 class="text-muted box-title text-left">Avaliação</h3>
                    <strong><i class="fa fa-envelope"></i> Avaliação Média: </strong>
                    <p>
                        {{ professor.nota_media|default_if_none:" -- " }}
                    </p>
                {% endif %}



                {% if professor.user.pk == request.user.pk or request.user.is_superuser %}
                    <div class="box-footer">
                        <div class="pull-right" >
                            <a href="javascript:func()" onclick="confirmacao()" class="btn btn-danger pull-right"> Desativar conta </a>
                            <script language="Javascript">
                            function confirmacao() {
                                 var resposta = confirm("Deseja desativar essa conta?");

                                 if (resposta == true) {
                                      window.location.href = "{% url 'Excluir_Professor' professor.user.pk %}";
                                 }
                            }
                            </script>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock content %}