{% extends 'sva/base.html' %}
{% load svatags %}

{% block content %}
    <div class="form-group">
        <font size="5"><b>Perfil de {{ professor.user.first_name }}</b></font>
    </div>
    <br>
    <div class="form-group">
        <b>Curso: </b>{{ professor.curso }}
    </div>
    <div class="form-group">
        <b>Email: </b>{{ professor.user.email }}
    </div>
    <div class="form-group">
        <b>Telefone: </b>{{ professor.telefone }}
    </div>
    <div class="form-group">
        <b>SIAPE: </b>{{ professor.siape }}
    </div>
    <br>

    {% if request.user|has_groups:"Administrador,Setor de Estágios" %}

        {% if not professor.data_aprovacao %}
            <a href="{% url 'Aprovar_Professor' professor.user.pk %}" class="btn btn-primary"></a>
        {% endif %}

    {% endif %}

    {% if professor.user.pk == request.user.pk or request.user.is_superuser %}
        <a href="javascript:func()" onclick="confirmacao()" class="btn btn-danger"> Desativar conta </a>
        <script language="Javascript">
        function confirmacao() {
             var resposta = confirm("Deseja desativar essa conta?");

             if (resposta == true) {
                  window.location.href = "{% url 'Excluir_Professor' professor.user.pk %}";
             }
        }
        </script>
    {% endif %}

{% endblock content %}