{% extends 'sva/vaga/vaga.html' %}
{% load svatags %}
.span4 > div, .span8 > div
{
background-color:#eee;
border: 1px solid #888;
border-radius:3px;
}
{% block content %}
<style>
.no-border {

    div.wrapper {
            width: 300px;
            height:300px;
            border:1px solid black;
    }

    input[type="text"] {
             display: block;
             margin : 0 auto;
    }

}
</style>


<div class="container row col-sm-12 col-xs-12 col-md-10 col-md-offset-1">
{#    <form name="Form" method="post" >#}
{#        {% csrf_token %}#}
{#        <div class="row">#}
{#            <h3><b>Gerenciar área de atuação</b></h3>#}
{#        </div>#}
{#        #}
{#    </form>#}
    <div class="row">
        <H3><b>Áreas aguardando aprovação:</b></H3>
    </div>
    
    {% for area in areas %}
    <div class="box ">
        <div class="box-body  ">
            <div class="row " >
                <div class="col-md-10">
                    <div class="form-group ">
                        <!--<span id="span-{{area.id}}">{{area.nome}}</span>-->
                        <input type="text" disabled  class="form-control no-border" name="edit"
                               id="input-text-{{area.id}}" value="{{area.nome}}"
                        >
                    </div>
                </div>

                <div class="col-md-2 ">
                    <div class="pull-right">
                        <button  id="buttonadd-{{area.id}}" class="btn btn-success ">
                            <i id="imgedit-{{area.id}}" class="fa fa-plus margin-r-1"></i>
                        </button>
                        <button  id="buttonremove-{{area.id}}" class="btn btn-danger ">
                            <i  class="fa fa-remove  margin-r-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}

</div>
{% endblock %}