{% extends 'sva/vaga/vaga.html' %}
{% load svatags %}

{% block title %} Cadastro de Vaga{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-header with-border">
                  <div class = "text-center">
                        <h2 class="box-title">Cadastro de nova vaga</h2>
                  </div>
                </div>
                <div class="box-body">
                    <div class="col-md-5">
                        <div class = "text-center">
                            <h4>Informações cadastrais</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_titulo">Título <font size="2" color="red">*</font></label>
                                    <input type="text" class="form-control" id="id_titulo" name="titulo" placeholder="Nome da vaga" required="true" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tipo de vaga <font size="2" color="red">*</font></label>
                                    <div>
                                        <select class="form-control" id="id_tipo_vaga" name="tipo_vaga" required="true">
                                            {% if gerente.user|has_group:"Professor" %}
                                                <option value="3">Iniciação Científica</option>
                                                <option value="2">Monitoria</option>
                                                <option value="4">Outro</option>
                                            {% endif %}
                                            {% if gerente.user|has_group:"Empresa" %}
                                                <option value="1">Estágio</option>
                                                <option value="4">Outro</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_data_validade">Inscrições até </label>
                            <input type="datetime-local" class="form-control" id="id_data_validade" name="data_validade" value="{{form.data_validade|date:'d/m/YTH:i'}}">
                        </div>
                        <div class="form-group">
                            <label>Ofertada aos cursos </label>
                            <div>{{form.cursos}}</div>
                        </div>
                        <div class="form-group">
                            <label>Áreas de atuação <font size="2" color="red">*</font></label>
                            <div>{{form.areas_atuacao}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class = "text-center">
                            <h4>Informações básicas</h4>
                        </div>
                        <div class="form-group">
                            <label>Descrição <font size="2" color="red">*</font></label>
                            {{form.descricao}}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Carga horária semanal <font size="2" color="red">*</font></label>
                                    {{form.carga_horaria_semanal}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valor da bolsa <font size="2" color="red">*</font></label>
                                    {{form.valor_bolsa}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_local">Local <font size="2" color="red">*</font></label>
                            <input type="text" class="form-control" id="id_local" name="local" required="true" placeholder="Localidade ou endereço">
                        </div>
                        <div class="form-group">
                            <label>Benefícios </label>
                            {{form.beneficios}}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submeter nova vaga</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}