{% extends 'sva/vaga/vaga.html' %}

<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>

{% block title %} Editar Vaga {% endblock %}
{% block content %}
    <div class="container-fluid">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-header with-border">
                  <div class = "text-center">
                        <h2 class="box-title">Editar {{ form.titulo.value }}</h2>
                  </div>
                </div>
                <div class="box-body">
                    <div class="col-md-5">
                        <div class = "text-center">
                            <h4>Informações cadastrais</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_titulo">Título <font size="2" color="red">*</font></label>
                                    <input type="text" class="form-control" id="id_titulo" name="titulo" placeholder="Nome da vaga" required="true" value="{{form.titulo.value}}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tipo de vaga <font size="2" color="red">*</font></label>
                                    <div>
                                        <select class="form-control" id="id_tipo_vaga" name="tipo_vaga" required="true">
                                            {% if request.user|has_group:"Professor" %}
                                                {% if form.tipo_vaga.value == 3 %}
                                                    <option value="3" selected="selected">Iniciação Científica</option>
                                                    <option value="2">Monitoria</option>
                                                    <option value="4">Outro</option>
                                                {% elif form.tipo_vaga.value == 2 %}
                                                    <option value="3">Iniciação Científica</option>
                                                    <option value="2" selected="selected">Monitoria</option>
                                                    <option value="4">Outro</option>
                                                {% elif form.tipo_vaga.value == 4 %}
                                                    <option value="3">Iniciação Científica</option>
                                                    <option value="2">Monitoria</option>
                                                    <option value="4" selected="selected">Outro</option>
                                                {% endif %}
                                            {% endif %}
                                            {% if request.user|has_group:"Empresa" %}
                                                {% if form.tipo_vaga.value == 1 %}
                                                    <option value="1" selected="selected">Estágio</option>
                                                    <option value="4">Outro</option>
                                                {% elif form.tipo_vaga.value == 4 %}
                                                    <option value="1">Estágio</option>
                                                    <option value="4" selected="selected">Outro</option>
                                                {% endif %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_data_validade">Inscrições até </label>
                            <div>
                                <input type="datetime-local" class="form-control"  id="id_data_validade" name="data_validade" value="{{data_val}}">
                                <a href="javascript:func()" onclick="encerrar()">Encerrar inscrições</a>
                            </div>
                            <script language="Javascript">
                            function encerrar() {
                                var resposta = confirm("Deseja encerrar as inscrições nessa vaga?");
                                var vagaid = "{{vaga.id}}";

                                if (resposta == true) {
                                  window.location.href += "{{ '/encerrar' }}";
                                }
                            }
                            </script>
                        </div>
                        <div class="form-group">
                            <label>Ofertada aos cursos </label>
                            <div>{{form.cursos}}</div>
                        </div>
                        <div class="form-group">
                            <label>Áreas de atuação <font size="2" color="red">*</font></label>
                            <div>{{form.areas_atuacao}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class = "text-center">
                            <h4>Informações básicas</h4>
                        </div>
                        <div class="form-group">
                            <label>Descrição <font size="2" color="red">*</font></label>
                            {{form.descricao}}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Carga horária semanal <font size="2" color="red">*</font></label>
                                    {{form.carga_horaria_semanal}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valor da bolsa <font size="2" color="red">*</font></label>
                                    {{form.valor_bolsa}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_local">Local <font size="2" color="red">*</font></label>
                            <input type="text" class="form-control" id="id_local" name="local" required="true" placeholder="Localidade ou endereço" value="{{form.local.value}}">
                        </div>
                        <div class="form-group">
                            <label>Benefícios </label>
                            {{form.beneficios}}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Editar vaga</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
