{% extends 'sva/vaga/vaga.html' %}

{% block title %} Gerenciar Vaga{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-md-4">
                <div class = "text-center"><h4><b><font color="green"><i class="fa fa-check"></i></font> Vagas aprovadas</b></h4></div>
            </div>
            <div class="col-md-4">
                <div class = "text-center"><h4><b><font color="orange"><i class="fa fa-gavel"></i></font> Vagas aguardando aprovação</b></h4></div>
            </div>
            <div class="col-md-4">
                <div class = "text-center"><h4><b><font color="red"><i class="fa fa-times"></i></font> Vagas reprovadas ou inativas</b></h4></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-md-4">
                    {% for vaga in vagas %}
                        {% if vaga.situacao == 3  %}
                            <div class="panel panel-default">
                                <p class="panel-heading text-center">
                                    <font size="4"><b><a href="{% url 'vaga_visualizar' pkvaga=vaga.id %}">{{vaga.titulo}}</a></b></font>
                                </p>
                                <div class=panel-body">
                                    <div class="text-center">{{vaga.descricao|truncatechars:30}}</div>
                                    <br>
                                    <div class = "text-center">
                                        <small class="text-muted">
                                            Vaga aprovada em {{vaga.data_aprovacao}} por {{vaga.usuario_aprovacao}}
                                            <br>
                                            <b>Criada em</b> {{vaga.data_submissao|date:"Y-m-d H:i"}}
                                            &nbsp;
                                            <b>Última alteração em</b> {{vaga.data_alteracao|date:"Y-m-d H:i"}}
                                        </small>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <small class="text-muted" >
                                        <div class="text-center">
                                            <a href="{% url 'vaga_editar' pkvaga=vaga.id %}"><em>Editar vaga</em></a>
                                            &nbsp; - &nbsp;
                                            <a href="{% url 'vaga_listar' pkvaga=vaga.id %}"><em>Listar alunos inscritos</em></a>
                                        </div>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>

            <div class="col-md-4">
                    {% for vaga in vagas %}
                        {% if vaga.situacao == 1 or vaga.situacao == 2  %}
                            <div class="panel panel-default">
                                <p class="panel-heading text-center">
                                    <font size="4"><b><a href="{% url 'vaga_visualizar' pkvaga=vaga.id %}">{{vaga.titulo}}</a></b></font>
                                </p>
                                <div class=panel-body">
                                    <div class="text-center">{{vaga.descricao|truncatechars:30}}</div>
                                    <br>
                                    <div class = "text-center">
                                        <small class="text-muted">
                                            <b>Criada em</b> {{vaga.data_submissao|date:"Y-m-d H:i"}}
                                            &nbsp;
                                            <b>Última alteração em</b> {{vaga.data_alteracao|date:"Y-m-d H:i"}}
                                        </small>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <small class="text-muted" >
                                        <div class="text-center">
                                            <a href="{% url 'vaga_editar' pkvaga=vaga.id %}"><em>Editar vaga</em></a>
                                            &nbsp; - &nbsp;
                                            <a href="{% url 'vaga_listar' pkvaga=vaga.id %}"><em>Listar alunos inscritos</em></a>
                                        </div>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>

            <div class="col-md-4">
                {% for vaga in vagas %}
                    {% if vaga.situacao == 4 or vaga.situacao == 5  %}
                        <div class="panel panel-default">
                            <p class="panel-heading text-center">
                                <font size="4"><b><a href="{% url 'vaga_visualizar' pkvaga=vaga.id %}"><b><a href="{% url 'vaga_visualizar' pkvaga=vaga.id %}">
                                    {% if vaga.situacao == 5 %}
                                    <font color="red">(REPROVADA) </font>
                                    {% elif vaga.situacao == 4 %}
                                    <font color="gray">(INATIVA) </font>
                                    {% endif %}
                                    {{vaga.titulo}}
                                </a></b></a></b></font>
                            </p>
                            <div class=panel-body">
                                <div class="text-center">{{vaga.descricao|truncatechars:30}}</div>
                                <br>
                                <div class = "text-center">
                                    <small class="text-muted">
                                        <b>Criada em</b> {{vaga.data_submissao|date:"Y-m-d H:i"}}
                                        &nbsp;
                                        <b>Última alteração em</b> {{vaga.data_alteracao|date:"Y-m-d H:i"}}
                                    </small>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <small class="text-muted" >
                                    <div class="text-center">
                                        <a href="{% url 'vaga_editar' pkvaga=vaga.id %}"><em>Editar vaga</em></a>
                                        &nbsp; - &nbsp;
                                        <a href="{% url 'vaga_listar' pkvaga=vaga.id %}"><em>Listar alunos inscritos</em></a>
                                    </div>
                                </small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

