{% extends 'sva/vaga/vaga.html' %}

{% block title %} Alunos inscritos {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="box">
            <div class="box-header">
                <div class="text-center">
                    {% if qtd_alunos == 1 %}
                        <h3 class="box-title">{{qtd_alunos}} inscrito em <b>{{vaga.titulo}}</b></h3></div>
                    {% else %}
                        <h3 class="box-title">{{qtd_alunos}} inscritos em <b>{{vaga.titulo}}</b></h3></div>
                    {% endif %}
                <div class="box-body padding">
                    <table class="table">
                    <tbody><tr>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                    {% for aluno in alunos %}
                        <tr>
                            <td><a href="{% url 'Exibir_Aluno' pk=aluno.user_id %}"><em>{{aluno.user.first_name}} {{aluno.user.last_name}}</em></a></td>
                            <td>{{aluno.user.email}}</td>
                            {% if aluno.curriculo.name != ""%}
                                <td> <a class="pull-right" href="{{aluno.curriculo.url}}" target="_blank">Visualizar curriculo <span class="fa fa-file-pdf-o"></span> </a></td>
                                <td> <a class="pull-right" href="{% url 'download_curriculo' pk=aluno.user_id %}">Baixar curriculo <span class="fa fa-cloud-download"></span> </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody></table>
                </div>
            <!-- /.box-body -->
          </div>
    </div>

{% endblock %}