{% extends 'sva/base.html' %}
{% load static %}
{% load svatags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--//https://codepen.io/jackiejohnston/pen/NNrpjQ-->
    <script src="{% static 'js/uislider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/uislider.css' %}">
    <!--https://cdnjs.com/libraries/bootstrap-slider-->
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}">
    <!--https://bootsnipp.com/snippets/ZkMKE-->
    <link rel="stylesheet" href="{% static 'css/fancy-checkbox.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="" id="form" method="POST">
    {% csrf_token %}
    <div class="container-fluid" style="margin-bottom:50px">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <label>Filtrar pesquisa por</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="form-inline form-group"  style="margin-bottom:20px">
                    <div class="input-group">
                        {% if formRemake is False %}
                            <div class="input-group-prepend input-group-lg" style="margin-bottom:5px" id="1">
                                <select data-filter="model" class="filter-model filter form-control" name="filtro" id="id_filtro_1">
                                    <option value="1">Todos os campos</option>
                                    <option value="2">Nome de vagas</option>
                                    <option value="3">Empresas e/ou professores</option>
                                    <option value="4">Áreas de atuação</option>
                                    <option value="5">Cursos</option>
                                    <option value="6">Descrição</option>
                                    <option value="7">Local</option>
                                </select>
                                <input type="text" name="texto" placeholder="Palavras-chave" class="form-control" maxlength="50" id="id_texto_1" value="{{initial}}">
                                {{form.curso_1}}
                                {{form.area_1}}
                                <div class="input-group-btn" >
                                    <button type="button" class="btn bg-olive btn-flat btn-default btn-add" id="id_add_1"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        {% else %}
                            {% for filtro in filtroRemake %}
                                <div class="input-group-prepend input-group-lg" style="margin-bottom:5px; display: none;" id="{{forloop.counter}}">
                                    <select data-filter="model" class="filter-model filter form-control" name="filtro" id="id_filtro_{{forloop.counter}}">
                                        {% if filtro == "1" %}
                                            <option value="1" selected="selected">Todos os campos</option>
                                        {% else %}
                                            <option value="1">Todos os campos</option>
                                        {% endif %}
                                        {% if filtro == "2" %}
                                            <option value="2" selected="selected">Nome de vagas</option>
                                        {% else %}
                                            <option value="2">Nome de vagas</option>
                                        {% endif %}
                                        {% if filtro == "3" %}
                                            <option value="3" selected="selected">Empresas e/ou professores</option>
                                        {% else %}
                                            <option value="3">Empresas e/ou professores</option>
                                        {% endif %}
                                        {% if filtro == "4" %}
                                            <option value="4" selected="selected">Áreas de atuação</option>
                                        {% else %}
                                            <option value="4">Áreas de atuação</option>
                                        {% endif %}
                                        {% if filtro == "5" %}
                                            <option value="5" selected="selected">Cursos</option>
                                        {% else %}
                                            <option value="5">Cursos</option>
                                        {% endif %}
                                        {% if filtro == "6" %}
                                            <option value="6" selected="selected">Descrição</option>
                                        {% else %}
                                            <option value="6">Descrição</option>
                                        {% endif %}
                                        {% if filtro == "7" %}
                                            <option value="7" selected="selected">Local</option>
                                        {% else %}
                                            <option value="7">Local</option>
                                        {% endif %}
                                    </select>
                                    <input type="text" name="texto" placeholder="Palavras-chave" class="form-control" maxlength="50" id="id_texto_{{forloop.counter}}" value="{{textoRemake|index:forloop.counter0}}">
                                    <select name="curso" class="form-control form-control-lg" style="" id="id_curso_{{forloop.counter}}">
                                        {% for curso in cursosChoices %}
                                            <option value="{{curso.id}}">{{curso.nome}} ({{curso.get_nivel_ensino_display}})</option>
                                        {% endfor %}
                                    </select>
                                    <select name="area" class="form-control form-control-lg" style="" id="id_area_{{forloop.counter}}">
                                        {% for area in areasChoices %}
                                            <option value="{{area.id}}">{{area.nome}}</option>
                                        {% endfor %}
                                        </select>
                                    <div class="input-group-btn" >
                                        <button type="button" class="btn bg-olive btn-flat btn-default btn-add" id="id_add_{{forloop.counter}}"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <button type="submit" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-search" ></i> Pesquisar</button>
                        <script>
                            $(document).submit(function () {
                                $('#min-value').val($('#slider-range-value1').text());
                                $('#max-value').val($('#slider-range-value2').text());
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var count=2;

            $('.input-group-prepend').on('change', function() {
                var currentId = $(this).attr("id");
                if ( $("#id_filtro_"+currentId).val() == 5)
                {
                    $("#id_curso_"+currentId).show();
                    $("#id_texto_"+currentId).hide();
                    $("#id_area_"+currentId).hide();
                }
                else if( $("#id_filtro_"+currentId).val() == 4)
                {
                    $("#id_curso_"+currentId).hide();
                    $("#id_texto_"+currentId).hide();
                    $("#id_area_"+currentId).show();
                }
                else{
                    $("#id_curso_"+currentId).hide();
                    $("#id_texto_"+currentId).show();
                    $("#id_area_"+currentId).hide();
                }
            });

            $(document).ready(function(){
                $("#id_curso_1").attr("name","curso");
                $("#id_area_1").attr("name","area");
                if({{formRemake|yesno:"true,false"}} == true){
                    var filtros = {{filtroRemake|safe}}
                    var cursos = {{cursoRemake|safe}}
                    var areas = {{areaRemake|safe}}
                    for(i = 0; i < filtros.length; i++){
                        if(filtros[i] == "4"){
                            $("#id_curso_"+(i+1)).hide();
                            $("#id_area_"+(i+1)).show();
                            $("#id_area_"+(i+1)).val(areas[i]);
                            $("#id_texto_"+(i+1)).hide();
                        }
                        else if(filtros[i] == "5"){
                            $("#id_curso_"+(i+1)).show();
                            $("#id_curso_"+(i+1)).val(cursos[i]);
                            $("#id_area_"+(i+1)).hide();
                            $("#id_texto_"+(i+1)).hide();
                        }
                        else{
                            $("#id_curso_"+(i+1)).hide();
                            $("#id_area_"+(i+1)).hide();
                            $("#id_texto_"+(i+1)).show();
                        }
                        if(i+1 != filtros.length){
                            $("#id_add_"+(i+1))
                                .toggleClass( 'btn-default' )
                                .toggleClass( 'btn-add' )
                                .toggleClass( 'btn-danger' )
                                .toggleClass( 'btn-remove' )
                                .toggleClass( 'btn-flat' )
                                .toggleClass( 'bg-maroon' )
                                .html( '–' );
                        }
                        $("#"+(i+1)).show();
                        count = i+2
                    }
                    $("#waitLoop").show();
                }
            });

            $( document ).on( 'click', '.btn-add', function ( event ) {
                event.preventDefault();

                var field = $(this).closest( '.input-group-prepend' );
                var field_new = field.clone(true, true);

                $(this)
                    .toggleClass( 'btn-default' )
                    .toggleClass( 'btn-add' )
                    .toggleClass( 'btn-danger' )
                    .toggleClass( 'btn-remove' )
                    .toggleClass( 'btn-flat' )
                    .toggleClass( 'bg-maroon' )
                    .html( '–' );

                field_new.find("#id_curso_"+(count-1)).attr("id","id_curso_"+count);
                field_new.find("#id_area_"+(count-1)).attr("id","id_area_"+count);
                field_new.find("#id_filtro_"+(count-1)).attr("id","id_filtro_"+count);
                field_new.find("#id_texto_"+(count-1)).attr("id","id_texto_"+count);
                field_new.find("#id_add_"+(count-1)).attr("id","id_add_"+count);
                field_new.attr("id",count);


                field_new.find("#id_filtro_"+(count)).on('change', function() {
                    var currentId = $(this).attr("id").slice(-1);;
                    if ( $("#id_filtro_"+currentId).val() == 5)
                      {
                        $("#id_curso_"+currentId).show();
                        $("#id_texto_"+currentId).hide();
                        $("#id_area_"+currentId).hide();
                      }
                      else if( $("#id_filtro_"+currentId).val() == 4)
                      {
                        $("#id_curso_"+currentId).hide();
                        $("#id_texto_"+currentId).hide();
                        $("#id_area_"+currentId).show();
                      }
                      else{
                        $("#id_curso_"+currentId).hide();
                        $("#id_texto_"+currentId).show();
                        $("#id_area_"+currentId).hide();
                      }
                });

                field_new.find("#id_curso_"+count).hide();
                field_new.find("#id_area_"+count).hide();
                field_new.find("#id_filtro_"+count).val(1);
                field_new.find("#id_texto_"+count).show();

                field_new.find( 'input' ).val( '' );
                field_new.insertAfter( field );

                count++;
            } );

            $( document ).on( 'click', '.btn-remove', function ( event ) {
                event.preventDefault();
                $(this).closest( '.input-group-prepend' ).remove();
            } );
        </script>
    </div>

    <div class="container-fluid">
        {% if busca is not None and busca != "" %}
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div class="list-group ">
                    <small class="text-muted pull-right" >
                    {% if vagas|length == 1 %}
                        {{vagas|length}} vaga encontrada
                    {% elif vagas|length == 0 %}
                        Nenhuma vaga encontrada
                    {% else %}
                        {{vagas|length}} vagas encontradas
                    {% endif %}
                    na busca por: {{busca}}</small>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                {% if user.is_authenticated %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Filtros de pesquisa</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                {% if filtrosPesquisa %}
                                    <div class="list-group">
                                    <input type="hidden" name="filtro_remover" id="id_remove_filtro" value=""/>
                                    <input type="hidden" name="filtro_carregar" id="id_load_filtro" value=""/>
                                    {% for filtro in filtrosPesquisa %}
                                        <a href="javascript:void(0)" id="id_href_{{filtro.id}}"class="list-group-item list-group-item-action flex-column align-items-start clearfix">
                                            <span>{{filtro.nome}}</span>
                                            <input type="hidden" id="id_nome_filtro_{{filtro.id}}" value="{{filtro.nome}}"/>
                                            <span class="pull-right">
                                                <button type="submit" class="btn btn-xs btn-danger" id="id_filter_remove_{{filtro.id}}"><i class="fa fa-trash-o"></i></button>
                                                <script>
                                                    $("#id_filter_remove_{{filtro.id}}").click(function(e) {
                                                        e.stopPropagation();
                                                        var matches = $(this).attr('id').match(/\d+$/);
                                                        var resposta = confirm("Você realmente deseja remover o filtro " + document.getElementById('id_nome_filtro_'+matches[0]).value + "?");
                                                         if (resposta == true) {
                                                            $("#id_type").val("remove_filter");
                                                            $("#id_remove_filtro").val(matches[0]);
                                                         }
                                                         else{
                                                            e.preventDefault();
                                                            return false;
                                                         }
                                                    });
                                                </script>
                                            </span>
                                        </a>
                                        <script>
                                            $("#id_href_{{filtro.id}}").on("click",function(a) {
                                                var myid = $(this).attr('id').match(/\d+$/);
                                                $("#id_type").val("load_filter");
                                                $("#id_load_filtro").val(myid[0]);
                                                debugger;
                                                document.getElementById('form').submit();
                                            });
                                        </script>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="text-center">Você ainda não salvou filtros de pesquisa.</div>
                                    <div class="text-center">Crie alguns logo abaixo!</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="input-group">
                            <input type="text" name="novo_filtro" pattern="[A-Za-zÀ-ž0-9]+" placeholder="Nome do novo filtro" class="form-control" maxlength="30" id="id_novo_filtro" value="">
                            <input type="hidden" name="type" id="id_type" value="search">
                            <div class="input-group-btn" >
                                <button type="submit" class="btn btn-primary" id="id_filter_add"><i class="fa fa-floppy-o"></i></button>
                                <script>
                                    $("#id_filter_add").click(function(z) {
                                        $("#id_type").val("add_filter");
                                        if($("#id_novo_filtro").val() == ""){
                                            alert("Impossível criar filtro de pesquisa sem nome!");
                                            z.preventDefault();
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Filtros específicos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="input-group">
                            <label for="id_ordem">Ordenar resultados por</label>
                            <select data-filter="model" class="filter-model filter form-control" name="ordem" id="id_ordem">
                                {% if formRemake is False %}
                                <option value="1">Mais recentes</option>
                                <option value="2">Mais inscritas</option>
                                <option value="3">Melhores avaliações</option>
                                <option value="4">Mais comentadas</option>
                                <option value="5">Menor prazo de inscrição</option>
                                {% else %}
                                    {% if ordemRemake == "1" %}
                                        <option value="1" selected="selected">Mais recentes</option>
                                    {% else %}
                                        <option value="1">Mais recentes</option>
                                    {% endif %}
                                    {% if ordemRemake == "2" %}
                                        <option value="2" selected="selected">Mais inscritas</option>
                                    {% else %}
                                        <option value="2">Mais inscritas</option>
                                    {% endif %}
                                    {% if ordemRemake == "3" %}
                                        <option value="3" selected="selected">Melhores avaliações</option>
                                    {% else %}
                                        <option value="3">Melhores avaliações</option>
                                    {% endif %}
                                    {% if ordemRemake == "4" %}
                                        <option value="4" selected="selected">Mais comentadas</option>
                                    {% else %}
                                        <option value="4">Mais comentadas</option>
                                    {% endif %}
                                    {% if ordemRemake == "5" %}
                                        <option value="5" selected="selected">Menor prazo de inscrição</option>
                                    {% else %}
                                        <option value="5">Menor prazo de inscrição</option>
                                    {% endif %}
                                {% endif %}
                            </select>
                        </div>
                        {% if request.user.is_superuser or request.user|has_groups:"Administrador" or request.user|has_groups:"Setor de Estágios" %}
                        <div style=" margin-bottom:10px;"></div>
                        <div class="input-group">
                            <label for="id_superuser_option">Mostrar vagas </label>
                            <select data-filter="model" class="filter-model filter form-control" name="superuser_option" id="id_superuser_option">
                                {% if formRemake is False %}
                                <option value="1">Ativas</option>
                                <option value="2">Pendentes de avaliação</option>
                                <option value="3">Inativas</option>
                                <option value="4">Reprovadas</option>
                                <option value="5">Todas</option>
                                {% else %}
                                    {% if superuserOptionRemake == "1" %}
                                        <option value="1" selected="selected">Ativas</option>
                                    {% else %}
                                        <option value="1">Ativas</option>
                                    {% endif %}
                                    {% if superuserOptionRemake == "2" %}
                                        <option value="2" selected="selected">Pendentes de avaliação</option>
                                    {% else %}
                                        <option value="2">Pendentes de avaliação</option>
                                    {% endif %}
                                    {% if superuserOptionRemake == "3" %}
                                        <option value="3"  selected="selected">Inativas</option>
                                    {% else %}
                                        <option value="3">Inativas</option>
                                    {% endif %}
                                    {% if superuserOptionRemake == "4" %}
                                        <option value="4" selected="selected">Reprovadas</option>
                                    {% else %}
                                        <option value="4">Reprovadas</option>
                                    {% endif %}
                                    {% if superuserOptionRemake == "5" %}
                                        <option value="5" selected="selected">Todas</option>
                                    {% else %}
                                        <option value="5">Todas</option>
                                    {% endif %}
                                {% endif %}
                            </select>
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label>Buscar vagas de</label>
                                    <div class="checkbox checkbox-primary">
                                        {% if checkBoxRemake|index:0 == "off" %}
                                            <input id="id_estagio" name="estagio" type="checkbox">
                                        {% else %}
                                            <input id="id_estagio" name="estagio" type="checkbox" checked="">
                                        {% endif %}
                                        <label for="id_estagio">
                                            Estágio
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        {% if checkBoxRemake|index:1 == "off" %}
                                        <input id="id_ic" name="ic" type="checkbox">
                                        {% else %}
                                        <input id="id_ic" name="ic" type="checkbox" checked="">
                                        {% endif %}
                                        <label for="id_ic">
                                            Iniciação Científica
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        {% if checkBoxRemake|index:2 == "off" %}
                                        <input id="id_monitoria" name="monitoria" type="checkbox">
                                        {% else %}
                                        <input id="id_monitoria" name="monitoria" type="checkbox" checked="">
                                        {% endif %}
                                        <label for="id_monitoria">
                                            Monitoria
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        {% if checkBoxRemake|index:3 == "off" %}
                                        <input id="id_outros" name="outros" type="checkbox">
                                        {% else %}
                                        <input id="id_outros" name="outros" type="checkbox" checked="">
                                        {% endif %}
                                        <label for="id_outros">
                                            Diversas
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Destinadas a nível</label>
                                <div class="radio">
                                    {% if radioRemake == 1 %}
                                        <input  type="radio" id="id_tecnico" name="radioNivel" checked="checked" value="1">
                                    {% else %}
                                        <input  type="radio" id="id_tecnico" name="radioNivel" value="1">
                                    {% endif %}
                                    <label for="id_tecnico">
                                        Técnico
                                    </label>
                                </div>
                                <div class="radio">
                                    {% if radioRemake == 2 %}
                                        <input  type="radio" id="id_graduacao" name="radioNivel" checked="checked" value="2">
                                    {% else %}
                                        <input  type="radio" id="id_graduacao" name="radioNivel" value="2">
                                    {% endif %}
                                    <label for="id_graduacao">
                                        Graduação
                                    </label>
                                </div>
                                <div class="radio">
                                    {% if radioRemake == 3 %}
                                        <input  type="radio" id="id_mestrado" name="radioNivel" checked="checked" value="3">
                                    {% else %}
                                        <input  type="radio" id="id_mestrado" name="radioNivel" value="3">
                                    {% endif %}
                                    <label for="id_mestrado">
                                        Mestrado
                                    </label>
                                </div>
                                <div class="radio">
                                    {% if radioRemake == 4 %}
                                        <input  type="radio" id="id_doutorado" name="radioNivel" checked="checked" value="4">
                                    {% else %}
                                        <input  type="radio" id="id_doutorado" name="radioNivel" value="4">
                                    {% endif %}
                                    <label for="id_doutorado">
                                        Doutorado
                                    </label>
                                </div>
                                <div class="radio">
                                    {% if radioRemake == 5 %}
                                        <input  type="radio" id="id_especializacao" name="radioNivel" checked="checked" value="5">
                                    {% else %}
                                        <input  type="radio" id="id_especializacao" name="radioNivel" value="5">
                                    {% endif %}
                                    <label for="id_especializacao">
                                        Especialização
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label for="id_salario">Valor mínimo de bolsa</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="number" name="salario" step="any" min="0" class="form-control" placeholder="000,00" id="id_salario" value="{{salarioRemake|default_if_none:''}}">
                        </div>
                        <!--FIM SALARIO SLIDER-->
                        <!--HORAS SLIDER-->
                        <div style=" margin-bottom:10px;"></div>
                        <label>Horas semanais</label>
                        <div style=" margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="slider-range"></div>
                            </div>
                        </div>
                        <div class="row slider-labels">
                            <div class="col-xs-6 caption">
                                <strong>Min.:</strong> <span name="min-horas" id="slider-range-value1"></span>h
                            </div>
                            <div class="col-xs-6 text-right caption">
                                <strong>Máx.:</strong> <span name="max-horas" id="slider-range-value2"></span>h
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" class="form-control" id="min-value" name="min-value" value="{{minvalueRemake}}">
                                <input type="hidden" class="form-control" id="max-value" name="max-value" value="{{maxvalueRemake}}">
                            </div>
                        </div>
                        <!--FIM HORAS SLIDER-->
                        <hr>
                        <!-- NOTA SLIDER -->
                        <div style=" margin-bottom:10px;"></div>
                        <div class="input-group">
                            <label>Nota média mínima</label>
                            <select data-filter="model" class="filter-model filter form-control" name="avaliacao" id="ex13">
                                {% if formRemake is False %}
                                    <option value="0">Nenhuma avaliação</option>
                                    <option value="1">&#9733;</option>
                                    <option value="2">&#9733;&#9733;</option>
                                    <option value="3">&#9733;&#9733;&#9733;</option>
                                    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                                    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                {% else %}
                                    {% if avaliacaoRemake == "0" %}
                                        <option value="0" selected="selected">Nenhuma avaliação</option>
                                    {% else %}
                                        <option value="0">Nenhuma avaliação</option>
                                    {% endif %}
                                    {% if avaliacaoRemake == "1" %}
                                        <option value="1" selected="selected">&#9733;</option>
                                    {% else %}
                                        <option value="1">&#9733;</option>
                                    {% endif %}
                                    {% if avaliacaoRemake == "2" %}
                                        <option value="2" selected="selected">&#9733;&#9733;</option>
                                    {% else %}
                                        <option value="2">&#9733;&#9733;</option>
                                    {% endif %}
                                    {% if avaliacaoRemake == "3" %}
                                        <option value="3" selected="selected">&#9733;&#9733;&#9733;</option>
                                    {% else %}
                                        <option value="3">&#9733;&#9733;&#9733;</option>
                                    {% endif %}
                                    {% if avaliacaoRemake == "4" %}
                                        <option value="4" selected="selected">&#9733;&#9733;&#9733;&#9733;</option>
                                    {% else %}
                                        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                                    {% endif %}
                                    {% if avaliacaoRemake == "5" %}
                                        <option value="5" selected="selected">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                    {% else %}
                                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                    {% endif %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="list-group ">
                    {% for vaga in vagas %}
                         <a href="{% url 'vaga_visualizar' pkvaga=vaga.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                           <div class="d-flex w-100 justify-content-between">
                               <h4 class="mb-1">{{vaga.titulo}}</h4>
                           </div>
                            <p class="mb-1"> <em >Nota:</em> {{vaga.nota_media}} <font class="pull-right">Bolsa: R${{vaga.valor_bolsa|floatformat:2}}</font></p>
                             {% if vaga.data_validade.date is not None %}
                                 {%with data=now.date|timesince:vaga.data_validade.date|slice:"2:"%}
                                     {%ifnotequal data "dias"%}
                                         {%ifnotequal data "dia"%}
                                            <p  class ="pull-right" >Inscrições até: {{vaga.data_validade.date}}</p>
                                         {%else%}
                                             {%with teste=now.date|timesince:vaga.data_validade.date|slice:":2"|add:0%}
                                                 {%if teste <= 3 %}
                                                     <p  class ="pull-right"  style="color:#d50000">Inscrições até: {{vaga.data_validade.date}}</p>
                                                 {%else%}
                                                     <p  class ="pull-right" >Inscrições até: {{vaga.data_validade.date}}</p>
                                                 {%endif%}
                                             {%endwith%}
                                        {%endifnotequal%}
                                     {%else%}
                                         {%with teste=now.date|timesince:vaga.data_validade.date|slice:":2"|add:0%}
                                             {%if teste <= 3 %}
                                                 <p  class ="pull-right"  style="color:#d50000">Inscrições até: {{vaga.data_validade.date}}</p>
                                             {%else%}
                                                 <p  class ="pull-right" >Inscrições até: {{vaga.data_validade.date}}</p>
                                             {%endif%}
                                         {%endwith%}
                                     {%endifnotequal%}
                                 {%endwith%}
                             {% else %}
                                <p  class ="pull-right" >Inscrições abertas</p>
                             {% endif %}
                             <small class="text-muted"> {{vaga.gerente_vaga.user.first_name}} {{vaga.gerente_vaga.user.last_name}} </small>
                         </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}
