{% extends 'sva/vaga/vaga.html' %}
{% load svatags %}
{% load ratings %}
{% load crispy_forms_tags %}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indicar.css' %}">

    <div class="container-fluid">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <p class="text-muted text-right" >Avaliação da vaga {{vaga.nota_media}}</p>

                <p><h3 class="profile-username text-center">{{ vaga.titulo }}</h3></p>
                {% if gerente.user|has_group:"Professor" %}
                    <p class="text-muted text-center"><b>Criada por</b> <a href="{% url 'Exibir_Professor' pk=gerente.user_id %}"><em>{{ gerente.user.first_name }} {{ gerente.user.last_name }}</em></a></p>
                {% elif gerente.user|has_group:"Empresa" %}
                    <p class="text-muted text-center"><b>Criada por</b> <a href="{% url 'Exibir_Empresa' pk=gerente.user_id %}"><em>{{ gerente.user.first_name }} {{ gerente.user.last_name }}</em></a></p>
                {% endif %}
                <p class="text-muted text-center">{{vaga.descricao}}</p>
                <hr>
                {% if vaga.data_validade is None %}
                    <p class="text-muted text-center"><b>Inscrições abertas</b></p>
                {% elif vaga.vencida %}
                    <p class="text-muted text-center"><b>Inscrições fechadas</b></p>
                {% else %}
                    <p class="text-muted text-center"><b>Inscrições abertas</b> até {{ vaga.data_validade}}</p>
                {% endif %}
                {% if request.user|has_group:"Professor" or request.user|has_group:"Empresa"  or request.user|has_group:"Gerente Vagas" %}
                <p class="text-center">
                    {% if vaga.alunos_inscritos.count == 1 %}
                        {{vaga.alunos_inscritos.count}} aluno inscrito
                    {% else %}
                        {{vaga.alunos_inscritos.count}} alunos inscritos
                    {% endif %}
                </p>
                {% endif %}
                <hr>
                <strong><i class="fa fa-graduation-cap margin-r-5"></i> Ofertada aos cursos de </strong>
                <p>
                    {% if vaga.cursos.count == 0 %}
                    <span class="label label-info">Todos os cursos</span>
                    {% else %}
                        {% for curso in vaga.cursos.all %}
                            <span class="label label-primary">{{curso.nome}} ({{curso.get_nivel_ensino_display}})</span>
                        {% endfor %}
                    {% endif %}
                </p>
                <strong><i class="fa fa-pencil margin-r-5"></i> Áreas de atuação </strong>
                <p>
                    {% for area in vaga.areas_atuacao.all %}
                        <span class="label label-success">{{area.nome}}</span>&nbsp;
                    {% endfor %}
                </p>
                {% if request.user|has_group:"Aluno" %}
                    {% if vaga.situacao == 3 and not vaga.vencida %}
                    <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <div class="btn-group">
                                    {% if interessado == 1 %}
                                        <input type="submit" style="background-color: #ff6666; color: white;"  class="btn btn-default" name="uninterested" value="&#10006; Remover interesse"/>
                                    {% elif interessado == 0 %}
                                        <input type="submit" style="background-color: #3872B7; color: white;"  class="btn btn-default" name="interested" value="&#10025; Tenho interesse"/>
                                    {% elif interessado == 2 %}
                                        <input type="submit" style="background-color: #808080; color: white;"  class="btn btn-default" name="donothing" value="&#10025; Candidatado"/>
                                    {% endif %}
                                    &nbsp;
                                    {% if inscrito == 1 %}
                                        <input type="submit" style="background-color: #ff6666; color: white;"  class="btn btn-default" name="unsubscribe" value="&#10006; Remover candidatura"/>
                                    {% elif inscrito == 0 %}
                                        <input type="submit" style="background-color: #3872B7; color: white;"  class="btn btn-default" name="subscribe" value="&#10004; Candidatar-me"/>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                            <div id="myModal" class="modal col-md-12  ">

                              <!-- Modal content -->
                              <div class="modal-content  text-center">
                                <div class="modal-header ">
                                  <span class="close">&times;</span>
                                  <h2>Indicar vaga</h2>
                                </div>
                                <div class="modal-body">
                                    <form  action=""  onsubmit="return validarCampos(this)"  method="post">
                                        {% csrf_token %}
                                        <p>{{form.email}}</p>
                                        <button  class="btn btn-primary " type="" onclick="offmodal()">cancelar</button>
                                        <input class="btn btn-primary "  name="indicar" type="submit" value="Indicar">
                                    </form>
                                </div>
                              </div>
                            </div>


                    {% endif %}
                {% endif %}

                {% if request.user.is_superuser or request.user|has_groups:"Administrador" or request.user|has_groups:"Setor de Estágios" %}
                    {% if not vaga.data_aprovacao and vaga.situacao == 2 or vaga.situacao == 1 %}
                    <hr>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" onClick="setar_valor_aprovado('false')" data-toggle="modal" data-target="#modal-default">
                            Indeferir o Cadastro
                        </button>
                        <button type="button" class="btn btn-primary"  onClick="setar_valor_aprovado('true')" data-toggle="modal" data-target="#modal-default">
                            Deferir Cadastro
                        </button>
                    </div>
                    {% endif %}
                    <div class="modal fade" id="modal-default" style="display: none; padding-right: 15px; z-index: 5000">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title">Confirmar Ação</h4>
                                </div>
                                <form method="post" action="{% url 'vaga_aprovar' vaga.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {% block conteudo_modal %}
                                            {{ formulario_aprovacao|crispy }}
                                        {% endblock %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-primary">{% block label_botao %} Confirmar {% endblock %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script>
                       function setar_valor_aprovado(valor) {
                           document.getElementById("id_aprovado").value = valor;
                       }
                    </script>
                {% endif %}
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title text-center">Informações básicas</h3>
            </div>
            <div class="box-body">
                {% if request.user|has_group:"Aluno" %}
                    {% if vaga.situacao == 3 and not vaga.vencida %}
                <button id="myBtn" class="btn btn-success pull-right"><i class="fa fa-users margin-r-5"></i>Indicar vaga</button>
                    {%endif%}
                {%endif%}
                <strong><i class="fa fa-map-marker margin-r-5"></i> Local </strong>
                <p>{{vaga.local}}</p>
                <strong><i class="fa fa-clock-o margin-r-5"></i> Carga horária semanal </strong>
                <p>{{vaga.carga_horaria_semanal}}</p>
                <strong><i class="fa fa-credit-card margin-r-5"></i> Valor da bolsa </strong>
                <p>R${{vaga.valor_bolsa|floatformat:2}}</p>


                <strong><i class="fa fa-handshake-o margin-r-5"></i> Benefícios concedidos </strong>
                <p>
                    {% if vaga.beneficios == '' %}
                        Nenhum
                    {% else %}
                        {{vaga.beneficios}}
                    {% endif %}
                </p>

                {% if request.user|has_group:"Aluno" %}
                    <hr>
                    <strong><i class="fa fa-star-o margin-r-5"></i>Avaliação da vaga:</strong>
                        <div>
                            {# https://github.com/wildfish/django-star-ratings #}
                            {# https://django-star-ratings.readthedocs.io/en/latest/?badge=latest%2F#settings #}
                            {% ratings vaga %}
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title text-center">Comentários</h3>
                {%if comentarios.count != 0%}
                    {%if comentarios.count == 1%}
                        <span class="pull-right badge bg-aqua"><font size="2">{{comentarios.count}} Comentário </font></span>
                    {%else%}
                        <span class="pull-right badge bg-aqua"><font size="2">{{comentarios.count}} Comentários </font></span>
                    {%endif%}
                {%endif%}
            </div>
            <div class="box-body">
                <br>
                <form action="{%url 'comentario' pkvaga=vaga.id%}"  method="post" >
                    {% csrf_token %}
                     <div class="input-group mb-3 " >
                         <input hidden name="resposta" id="resposta" type="text" value="0">
                         <input maxlength="150" required="True" class="form-control"  name="text" id="text" placeholder="Comentario..." type="text">
                         <div class="input-group-btn">
                         <button  class="btn btn-primary" type="submit">Comentar</button>
                         </div>
                     </div>
                </form>
            </div>
            {%if comentarios.count != 0%}
                <br>
                <div class="box-footer box-comments">
                    {% for comment in comentarios %}
                      <div class="box-comment">
                        <div class="comment">
                          <span class="username">
                              <span class="text-muted pull-right">{{ comment.created_date }}</span>
                              <p><strong>{{ comment.user.first_name}} {{ comment.user.last_name}}</strong></p>
                          </span><!-- /.username -->
                            {% if request.user|has_group:"Administrador" %}
                                <a type="button" href="{% url 'excluir_comentario' pkcomentario=comment.id%}" onclick="return confirm('Deseja excluir o comentário?');" class="btn btn-danger btn-xs pull-right"><i class="fa  fa-trash-o"></i></a>
                            {%endif%}
                            <p>{{ comment.text }}</p>
                        </div>
                          <a onclick="reply('{{ comment.user.first_name}} {{ comment.user.last_name}}',{{comment.user.pk}})">Responder</a>
                      </div>
                    {% endfor %}
                    </div>
            {%endif%}
        </div>
    </div>
    <script language="Javascript">

        var email = document.getElementById('email');

        var modal = document.getElementById('myModal');

        var btn = document.getElementById("myBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        function offmodal() {
            modal.style.display = "none";
        }
        function validarCampos(e){
            if(e.email.value == "{{aluno.user.email}}"){
                    alert("Email invalido, você não pode enviar um email para você mesmo");
                    return false;
            }
            return true;
         }
         function reply(e,id){
            if ({{request.user.id}} != id) {
               document.getElementById('text').value = "["+e+"] ";
               document.getElementById('resposta').value = id;
               window.scrollTo(0, 650)
            }else{
                alert("Você não pode responder ao seu proprio comentário");
            }
         }

    </script>
{% endblock %}
