{% extends 'sva/vaga/vaga.html' %}
{% load svatags %}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

{% block content %}
    {% csrf_token %}
    <h1><b>{{ vaga.titulo }}</b></h1>
    <br>
    <div class="form-group">
        <b>Criada por:</b> {{ gerente.user.first_name }} {{ gerente.user.last_name }}
    </div>
    <div class="form-group">
        <b>Áreas de atuação:</b>
            {% for area in vaga.areas_atuacao.all %}
                [{{area.nome}}]
            {% endfor %}
    </div>
    <div class="form-group">
        <b>Descrição:</b> {{vaga.descricao}}
    </div>

    {% if vaga.data_validade is None %}
        <div class="form-group"> <b>Inscrições abertas</b></div>
    {% elif vaga.vencida %}
        <div class="form-group"> <b>Inscrições fechadas</b></div>
    {% else %}
        <div class="form-group"> <b>Inscrições abertas</b> até {{ vaga.data_validade}}</div>
    {% endif %}

    <div class="form-group">
        <b>Carga horária semanal:</b> {{vaga.carga_horaria_semanal}}
    </div>
    <div class="form-group">
        <b>Local:</b> {{vaga.local}}
    </div>
    <div class="form-group">
        <b>Valor da bolsa:</b> R${{vaga.valor_bolsa|floatformat:2}}
    </div>
    <div class="form-group">
    <b>Benefícios concedidos: </b>
    {% if vaga.beneficios == '' %}
    Nenhum
    {% else %}
    {{vaga.beneficios}}
    {% endif %}
    </div>
    <div class="form-group">
        <b>Avaliação da vaga:</b> {{vaga.nota_media}}
    </div>
    {% if request.user|has_group:"Aluno" %}
        {% if vaga.situacao == 3 and vaga.data_validade is None or not vaga.vencida %}
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {% if interessado == 1 %}
                    <input type="submit" style="background-color: #ff6666; color: white;"  class="save btn btn-default" name="uninterested" value="&#10006; Remover interesse"/>
                {% elif interessado == 0 %}
                    <input type="submit" style="background-color: #3872B7; color: white;"  class="save btn btn-default" name="interested" value="&#10004; Tenho interesse"/>
                {% elif interessado == 2 %}
                    <input type="submit" style="background-color: #808080; color: white;"  class="save btn btn-default" name="donothing" value="&#10004; Candidatado"/>
                {% endif %}
                &nbsp;
                {% if inscrito == 1 %}
                    <input type="submit" style="background-color: #ff6666; color: white;"  class="save btn btn-default" name="unsubscribe" value="&#10006; Remover candidatura"/>
                {% elif inscrito == 0 %}
                    <input type="submit" style="background-color: #3872B7; color: white;"  class="save btn btn-default" name="subscribe" value="&#10004; Candidatar-me"/>
                {% endif %}
            </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
